root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

# Prettier reads max_line_length as its printWidth.
[presentations/*/index.html]
max_line_length = 120
